[submodule "cfe"]
	path = cfe
	url = ../../nasa/cFE.git
	branch = main
[submodule "osal"]
	path = osal
	url = ../../nasa/osal.git
	branch = main #msg-queue-workaround
[submodule "psp"]
	path = psp
	url = ../../nasa/PSP.git
[submodule "apps/ci_lab"]
	path = apps/ci_lab
	url = ../../nasa/ci_lab.git
	branch = main
[submodule "apps/sch_lab"]
	path = apps/sch_lab
	url = ../sch_lab.git
	branch = main
[submodule "apps/to_lab"]
	path = apps/to_lab
	url = ../to_lab.git
	branch = main
[submodule "tools/cFS-GroundSystem"]
	path = tools/cFS-GroundSystem
	url = ../cFS-GroundSystem.git
	branch = main
[submodule "tools/elf2cfetbl"]
	path = tools/elf2cfetbl
	url = ../../nasa/elf2cfetbl.git
	branch = main
[submodule "tools/tblCRCTool"]
	path = tools/tblCRCTool
	url = ../../nasa/tblCRCTool.git
	branch = main
[submodule "apps/sbn"]
	path = apps/sbn
	url = ../../nasa/SBN.git
[submodule "apps/robot_sim"]
	path = apps/robot_sim
	url = ../robot_sim.git
[submodule "apps/cf"]
	path = apps/cf
	url = ../CF
[submodule "apps/ros_app"]
	path = apps/ros_app
	url = ../ros_app.git
[submodule "apps/rover_app"]
	path = apps/rover_app
	url = ../rover_app.git

[submodule "apps/sntp"]
	path = apps/sntp
	url = ../cfe_sntp.git
